<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Todo App Details</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap&subset=latin-extended" rel="stylesheet">
        <link rel="stylesheet" href="static/style.css">
    </head>
    
    <body>
        <div class="container">
            <h3>Details</h3>
            <hr>
            <h4>{{todo.title}}</h4>
            <hr>
            <p>{{todo.content}}</p>
            <hr>
        </div>
    </body>

</html>